
* {
    margin:1px auto;
    padding:0px;
    box-sizing: border-box;
}


body {
    margin:0;
}


ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #37474F;
}


div.menu_cintillo{
	background-color: #fff;
	color:#FFFFFF;
	position:fixed;
	width: 100%;
	margin-top: 1px;
	z-index: 999;
}

#detras{
    max-width:auto;
    height:auto;
    width:auto;
    border-radius:12px;
}

#logo {
    max-width:100%;
    height:auto;
    width:auto;
    border-radius:10px;
}

#tcintillo {
    max-width:100%;
    width: auto;
    height: auto;
}

#justicadotexto{
    text-align:justify;
}

p.primeralinea {
    text-indent: 40px;
}

p.margende {
    border-style: outset;
}

.titulo {
    background-color:rgba(192,192,192,0.3);
}

#titulo {
    max-width:72%;
    height:auto;
    width:auto;
    max-width: auto;
    box-shadow: 10px 10px 5px #888888;
    border-radius:6px 6px 0px 0px;
}

.ctexto{
    max-width:100%;
    height:auto;
    width:auto;
    min-height:25px;
    box-shadow: 10px 10px 5px #888888;
    border-radius:3px 3px 3px 3px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}   

/*h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}*/

h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 20px white, 0 0 5px #000;
}

h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px #000;
}

#fondoparrafo {
    border-radius: 0px;
    background:url(../img/detrasparrafo.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    max-width:73%;
    width:auto;
    height: auto;
}

#miImagen{
    max-width:27%;
    max-height:100%;
    height:auto;
    width:auto;
    border-radius:10px;
    background: url(../img/rhistoria.png);
    position:;
    float:center;
}

/* inicio de objetos iconos*/

.icon-bar {
    width: 90px;
    text-align: center;
    background-color: #555;
}

.icon-bar a {
    padding: 16px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}

/* incio de  imagenes */
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.descripcion {
    padding: 15px;
    text-align: center;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* fin estilo de imagenes */
/*contactanos imagen*/
#dirimagen {
    max-width:100%; 
    height:auto; 
    width:auto;
    border-radius:5px;
}
/* fin de imagen contactanos */
